@font-face{
  font-family: Helvetica Neue;
  src: url(HelveticaNeue-Light.otf)
}

@font-face{
  font-family: Helvetica-Neue2;
  src: url(HelveticaNeue-UltraLight.otf)
}

body{
  background-color: #0489B1;
  font-family: Helvetica Neue;
}

h1{
  font-size: 60px;
  font-weight: 100;
  color: black;
  text-align: center;
  margin: 80px auto 0px;
}

img{
  width: 100px;
  height: 100px;
  margin: 30px 620px 0 620px;
}

p{
  text-align: center;
  font-size: 20px;
  color: #070719;
}

#bucket{
  font-size: 24px;
  color: #BDBDBD;
}

.button{
  width: 250px;
  height: 35px;
  border: #BDBDBD 2px solid;
  border-radius: 5px;
  background-color: #BDBDBD;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 0px 10px;
  margin: 0 523px 100px 523px;
  font-size: 22px;
  font-weight: 700;
  color: #070719;
 }

a:visited{
  color: #070719;
}
